.notasmuestra{
    margin-top: 50;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}
.imagen{
    width: 400px;
    height: 280px;
    //border: 1px solid black;
}
.titulomuestra{
    width: 400px; 
    height: 40px; 
    font-size: 20px;
}
.titulomuestra a{
    text-decoration: none;
    color: black;
}
.descmuestra{
    width: 400px; 
    height: 130px; 
    //border: 1px solid black;
    font-family: "Martel", serif;
    font-size: 14px;
    text-align: justify;
}
.lineamuestra{
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 120px;
    color: red;
}
.muestraseccionado{
    margin-top: 50px;
    margin-left: 70px;
    font-family: "Martel", serif;
}