.masreciente-contenedor{
    margin-top: 50;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}
.masreciente-imagen{
    width: 400px;
    height: 280px;
    //border: 1px solid black;
}
.masreciente-imagen img{
    width: 100%;
    height: 100%;
}
.masreciente-titulo{
    //background-color: red;
    width: 400px; 
    height: auto; 
}
.masreciente-titulo a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}
.masreciente-descripcion{
    width: 400px; 
    height: 130px; 
    //border: 1px solid black;
    font-family: "Martel", serif;
    font-size: 14px;
    text-align: justify;
}
.lineamuestra{
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 120px;
    color: red;
}
@media (max-width: 1240px){
    .masreciente-descripcion{
        width: 370px; 
        height: 130px;
        
    }
    .masreciente-imagen{
        width: 370px;
        height: 270px;
    }
    .masreciente-titulo{
        width: 370px; 
         
        font-size: 20px;
        
    }
}
@media (max-width: 1140px){
    .masreciente-descripcion{
        width: 340px; 
        height: 100px;
            }
    .masreciente-imagen{
        width: 340px;
        height: 250px;
            }
    .masreciente-titulo{
        width: 340px; 
        //height: 70px; 
        font-size: 20px;
    }
    .masreciente-descripcion{ 
        font-size: 13px;
    }
}
@media (max-width: 1040px){
    .masreciente-descripcion{
        width: 310px; 
        height: 100px;
        //margin: 10px;
    }
    .masreciente-imagen{
        width: 310px;
        height: 230px;
        
    }
    .masreciente-titulo{
        width: 310px; 
        
        font-size: 20px;
    }
    .masreciente-descripcion{ 
        font-size: 12px;
    }
}
@media (max-width: 940px){
    .masreciente-descripcion{
        width: 280px; 
        height: 100px;
        //margin: 10px;
    }
    .masreciente-imagen{
        width: 280px;
        height: 200px;
        
    }
    .masreciente-titulo{
        width: 280px; 
        
        font-size: 20px;
    }
    .masreciente-descripcion{ 
        font-size: 11px;
    }
}
@media (max-width: 840px){
    .masreciente-descripcion{
        width: 260px; 
        height: 100px;
        //margin: 10px;
    }
    .masreciente-imagen{
        width: 260px;
        height: 160px;
        
    }
    .masreciente-titulo{
        width: 280px; 
        
        font-size: 20px;
    }
    .masreciente-descripcion{ 
        font-size: 10px;
    }
}
@media (max-width: 780px){
    .masreciente-contenedor{
        display: block;
    }
    .masreciente-descripcion{
        width: 230px; 
        height: 100px;
        //margin: 10px;
    }
    .masreciente-imagen{
        width: 400px;
        height: 160px;
        
    }
    .masreciente-titulo{
        width: 350px; 
        
        font-size: 20px;
    }
    .masreciente-individual{
        display: flex;
        margin-top: 50px;
    }
    .masreciente-descripcion{ 
        font-size: 10px;
        width: 350px;
    }
    .masreciente-texto{
        padding-left: 20px;
    }
}
@media (max-width: 650px){
    .masreciente-individual{
        display: block;
    }
    .masreciente-imagen{
        height: 270px;
    }
    .masreciente-individual{
        padding-left: 30px;
    }
}