
.linea{
    margin-left: 70px;
    margin-right: 70px;
    color: red;
}
.tituloseccion{
    margin-left: 70px;
    font-family: "Linden Hill", serif;
    font-size: 30px;
    color: red;
}

.seccionado-contenedor{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.seccionado-nota{
}
.seccionado-imagen{
    border:1px solid black;
    width: 400px;
    height: 250px;
}
.seccionado-titulo a{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: "Linden Hill", serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
@media (max-width: 1240px){
    .seccionado-imagen{
        width: 370px;
        height: 240px;
    }
}
@media (max-width: 1140px){
    .seccionado-imagen{
        width: 340px;
        height: 220px;
    }
}
@media (max-width: 1040px){
    .seccionado-imagen{
        width: 310px;
        height: 210px;
    }
}
@media (max-width: 940px){
    .seccionado-imagen{
        width: 280px;
        height: 190px;
    }
}
@media (max-width: 840px){
    .seccionado-imagen{
        width: 260px;
        height: 170px;
    }
}
@media (max-width: 780px){
    .seccionado-imagen{
        width: 230px;
        height: 150px;
    }
}
@media (max-width: 650px){
    .seccionado-contenedor{
        display: block;
        align-items: center;
    }
    .seccionado-imagen{
        margin: 0 auto;
        width: 400px;
        height: 250px;
    }
    .seccionado-titulo a{
        display: block;
        margin-bottom: 20px;
    }
    .seccionado-nota{
        padding-left: 30px;
        text-align: center;
    }
}