.secdeldia{
    padding-top: 100px;
    justify-content: space-between;
    margin: 20px;
}
.principal{
    border:1px solid black;
    width: 800px;
    height: 420px;
}
.secundario{
    border:1px solid black;
    width: 450px;
    height: 200px;
}
.titulo{
    
    width: 10px;
    height: 20px;
}
 
  